#root {
  display: block;
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.Links li {
  /* float: left; */
  display: block;
  font-size: 20px;
  padding: 20px;
}

#Projecttitle {
  text-align: center;
}

#Items {
  text-align: center;
  display: inline-block;
  /* width: 200px; */
  /* height: 400px; */
  padding: 10px;
  color: #646cff;
}

.description {
  overflow: auto;
}

#Project title {
  border-block-width: 250px;
}

#NavButtons {
  float: right;
}

#ItemPic {
  max-width: 200px;
  height: 200px;
}

.Links li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.description {
  overflow: auto;
}
